/* editor css style for Travel Essence blog
/* Joe Higgins - 2019 */

.red-all-caps {
  text-transform: uppercase;
  color: red;
}
.scriptina-post-title {
  text-decoration: underline;
	font-family: 'Scriptina';
	font-weight: 600;
	font-size: 3.4em;
	margin: 1.2em 0;
}
.scriptina-post-heading {
  font-family: 'Scriptina';
  font-size: 2.4em;
}
.maroon-all-caps {
  color: #632122;
  /* var(--red-text)  */
  font-weight: 600;
  text-transform: uppercase;
}
.tempus-sans {
  font-family: 'TempusSans';
}
