/*
Simple responsive grid framework by Joe Higgins © 2018
Must be imported through
'style.css' which also imports
'meyer_reset.css' and
'normalize_extract.css' and
'typo.css'
*/

/* VARIABLES */
:root {
  --gen-padding: .1em;
}

*,*:before, *:after{
   box-sizing:inherit;
}

html{
  /* sets all elements to include padding and border in width/height */
   box-sizing:border-box;
}

body, html {
  width:100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
}

p {
  padding: 2rem;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header  {

}

.fixed {
  position: fixed;
}
/* ========================================================== */
/* ============== HIGGINS NAV STYLES ======================== */
/* ========================================================== */
/* General */
nav li:hover {
  transition: .7s;
}

/* HORIZONTAL */
.nav-horiz ul {
  position: relative;
  /* display: inline-block; */
}

.nav-horiz ul li {
  float: left;
}
.nav-horiz ul li a{
  display: block;
}
.nav-horiz ul ul {
  display:none;
  position: absolute;
  /* top: 100%; */
  z-index: 999;
}

.nav-horiz ul ul li {
  position: relative;
  float: none;
}
.nav-horiz ul ul ul{
  position: absolute;
  left: 100%;
  top: 0;
}
.nav-horiz ul ul ul li {
  float: none;
}
.nav-horiz ul li:hover > ul {
  display: block;
}

/* ================================================================ */
/* -------------------  Higgins Grid Styles  ---------------------  */
/* ================================================================ */


.grid-wrap  {
  /* position: relative; */
}

/* row styling */

.row  {
  float: left;
  width: 100%;
}

/* universal column styling */
[class*="col-"] {
  /* border: 1px solid yellow; */
  float: left;
  overflow: hidden;
  padding: .4rem;
  /* column width for mobile devices first */
  width: 100%;

}
 .eq-height [class*="col-"]{
   /* Add .eq-height to row class list. Content in columns below
   will be equal height*/
   margin-bottom: -100%;
   padding-bottom: 100%;
 }

/* gutter  */

/* column widths for tablets */
@media only screen and (min-width: 600px){
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* column widths for desktop */
@media only screen and (min-width: 768px){
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/* ====================================== */
/*        Caitlin's Blog STYLES         */
/* ====================================== */


.full-page-wrap {
  /* height: 100%; */
}

.grid-wrap  {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 28vh 11.5vh; /* I left the last 2 rows out.  They seem to expand with content that way */
  grid-template-areas:
    "header header"
    "link quote"
    "left right"
    "footer footer";
    width: 90%;
    max-width: 1200px;
    height: 100%;
}

#caitlins-blog-header  {
  grid-area: header;
  overflow: hidden;
}
#blog-title, #author {
  text-align: center;
  vertical-align: middle;
	width: 400px;
  margin: 0 auto;
}
#blog-title {
  padding: 1em;
}
#author  {
  /* padding: 4em 1em; */
}
#ts-logo {
  grid-area: link;
}
#quote  {
  grid-area: quote;
  text-align: center;
  padding: 1em 4em;
}

#caitlin-statement {
  grid-area: left;
  overflow: hidden;
}
  #caitlin {
    height: 32.5vh;

  }
  #statement {
    height: 77.5vh;
    padding: 1em 1.9em;
  }
#caitlin-statement, #statement, #blog-menu {
  margin: 0.8em 0 0 0;
}
#blog-menu {
  grid-area: right;
  overflow: hidden;
}
#footer {
  grid-area: footer;
}
